.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.event-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  /* background-color: #61dafb; */
  padding: 10px 0px;
  /* align-items: center; */
}

.editor-container {
  width: 50%;
  height: 600px;
  /* margin: auto; */
  /* padding: 10px 0px; */
  /* display: flex;
  justify-content: center; */
  /* background-color: blue; */
}

.editor {
  border: none;
  height: 500px;
  width: 100%;
  padding: 10px;
  resize: none;
  background-color: #33353b;
  color: aliceblue;
  font-size: large;

}

.event-div {
  height: 500px;
  /* background-color: #282c34; */
  align-items: center;
  width: 45%;
  border: 2px solid #282c34;
  border-radius: 15px;
}


/* .highlighter {
  min-height: 300px;
} */